.App {
  font-family: sans-serif;
  text-align: center;
}

.grab {
  cursor: grab;
}
.grabbing {
  cursor: grabbing;
  border: 1px dotted;
}

.box {
  display: flex;
  width: 100%;
}

.area {
  width: 70%;
  margin-left: 100px;
  border: 1px dotted;
}
